<div style="text-align: center">
    <h1 style="font-weight: 600px; font-size: 26px; color: #555">Email Verification !</h1>
    <p>Hey, welcome to <strong>NOTES</strong></p>
    <p>Please verify your email address, before proceeding further.</p>
    <a href="<%= verifyHref %>">Verify your email</a>
</div>